@page
@model Project_Ghiriti_Edmond.Pages.Assignments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assignment.ProjectId" class="control-label"></label>
                <select asp-for="Assignment.ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.EmployeeId" class="control-label"></label>
                <select asp-for="Assignment.EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Role" class="control-label"></label>
                <input asp-for="Assignment.Role" class="form-control" />
                <span asp-validation-for="Assignment.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignmentDate" class="control-label"></label>
                <input asp-for="Assignment.AssignmentDate" class="form-control" />
                <span asp-validation-for="Assignment.AssignmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
