@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our HR Management System</h1>
    <p>Choose an option to get started:</p>

    <div class="m-3">
        <a class="btn btn-primary" href="/Employees/Index">Manage Employees</a>
        <a class="btn btn-secondary" href="/Departments/Index">Manage Departments</a>
        <a class="btn btn-success" href="/Projects/Index">Manage Projects</a>
        <a class="btn btn-info" href="/Assignments/Index">Manage Assignments</a>
    </div>
</div>
